*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  background-color: #0e0d1b;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f9f9;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

a{
  color: #f9f9f9;
  text-decoration: none;
}

@media only screen and (min-width:768px){
 body{
  font-size: 16px;
 } 
}

@media only screen and (min-width:480px) and (max-width:768px) {
  body{
   font-size: 16px;
  } 
 }

 @media only screen and (max-width:479px){
  body{
   font-size: 16px;
  } 
 }

 .LogIn-BackGround{
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/images/login-background.jpg');
  
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;

}

.Home-bg{
  height: fit-content;
  width: 100vw;
  background: url('./assets//images//home-background.png');
}
.SliderDots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}